BEGIN;
PRAGMA writable_schema = on;
PRAGMA encoding = 'UTF-8';
PRAGMA page_size = '4096';
PRAGMA auto_vacuum = '0';
PRAGMA user_version = '0';
PRAGMA application_id = '0';
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE `document` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`name` text,
	`type` text NOT NULL,
	`content` text DEFAULT '[]',
	`document_date` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `name` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL
);
CREATE TABLE `appointments` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`date` text NOT NULL,
	`title` text NOT NULL,
	`notes` text,
	`status` text DEFAULT 'scheduled' NOT NULL, time TEXT,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `auth` (
	`id` integer PRIMARY KEY NOT NULL,
	`password_hash` text NOT NULL
);
CREATE TABLE `consultations` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`date` text DEFAULT CURRENT_TIMESTAMP,
	`reason` text NOT NULL,
	`diagnosis` text NOT NULL,
	`notes` text,
	`symptoms` text,
	`blood_pressure` text,
	`glucose` text,
	`weight` text,
	`amount_paid` integer,
	`custom_fields` text DEFAULT '{}', appointment_id INTEGER REFERENCES appointments(id) ON DELETE SET NULL, status TEXT NOT NULL DEFAULT 'in_progress',
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `custom_fields` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`type` text NOT NULL,
	`label` text NOT NULL,
	`is_active` integer DEFAULT true
);
CREATE TABLE `document_templates` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`type` text NOT NULL,
	`content` text NOT NULL,
	`is_default` integer DEFAULT false,
	`created_at` text DEFAULT CURRENT_TIMESTAMP,
	`updated_at` text DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE `expenses` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`description` text NOT NULL,
	`amount` integer NOT NULL,
	`category` text NOT NULL,
	`date` text DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE `patients` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`first_name` text NOT NULL,
	`last_name` text NOT NULL,
	`age` integer NOT NULL,
	`gender` text NOT NULL,
	`contact` text,
	`address` text,
	`weight` integer,
	`blood_type` text,
	`medical_history` text,
	`allergies` text,
	`tags` text,
	`notes` text,
	`status` text DEFAULT 'active' NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE `prescription_medications` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`prescription_id` integer NOT NULL,
	`medicine_name` text NOT NULL,
	`dosage` text NOT NULL,
	`duration` text,
	`quantity` text,
	`form` text,
	`note` text,
	FOREIGN KEY (`prescription_id`) REFERENCES `prescriptions`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `prescription_model` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name_fr` text NOT NULL,
	`name_ar` text NOT NULL,
	`specialty_fr` text NOT NULL,
	`specialty_ar` text NOT NULL,
	`inscription_number` text(255) NOT NULL,
	`services_fr` text NOT NULL,
	`services_ar` text NOT NULL,
	`address` text NOT NULL,
	`phone_number_1` text,
	`phone_number_2` text,
	`city` text NOT NULL,
	`accent_color` text,
	`font_family` text,
	`doctor_name_font_size` integer DEFAULT 14,
	`specialty_font_size` integer DEFAULT 10,
	`title_font_size` integer DEFAULT 18,
	`body_font_size` integer DEFAULT 12,
	`logo_size` integer DEFAULT 60,
	`watermark_opacity` integer DEFAULT 10,
	`divider_style` text DEFAULT 'solid',
	`title_text` text DEFAULT 'ORDONNANCE',
	`show_inscription_number` integer DEFAULT true
, template_layout TEXT DEFAULT 'bilingual');
CREATE TABLE `prescription_template_medications` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`template_id` integer NOT NULL,
	`medicine_name` text NOT NULL,
	`dosage` text NOT NULL,
	`duration` text,
	`quantity` text,
	`form` text,
	`note` text,
	FOREIGN KEY (`template_id`) REFERENCES `prescription_templates`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `prescription_templates` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL
);
CREATE TABLE `prescriptions` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`prescription_date` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`is_psychotropic` integer DEFAULT false,
	`psychotropic_number` integer,
	`patient_address` text,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `psychotropic_counters` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP
);
INSERT OR IGNORE INTO 'appointments'('id', 'patient_id', 'date', 'title', 'notes', 'status', 'time') VALUES (2, 1, '2026-02-23T17:23', 'Cnsultation', '', 'checked_in', NULL);
INSERT OR IGNORE INTO 'appointments'('id', 'patient_id', 'date', 'title', 'notes', 'status', 'time') VALUES (3, 2, '2026-02-23T05:43', 'SUIVI 2', '', 'checked_in', '05:43');
INSERT OR IGNORE INTO 'appointments'('id', 'patient_id', 'date', 'title', 'notes', 'status', 'time') VALUES (4, 3, '2026-02-23T00:00', 'COnsu', '', 'cancelled', '00:00');
DELETE FROM sqlite_sequence;
CREATE TABLE lost_and_found(rootpgno INTEGER, pgno INTEGER, nfield INTEGER, id INTEGER, c0, c1, c2, c3, c4);
INSERT INTO lost_and_found VALUES(18, 18, 1, 1, 'C:\Users\pc\AppData\Roaming\doc-right\images\1771942576072.png', NULL, NULL, NULL, NULL);
INSERT INTO lost_and_found VALUES(21, 21, 5, 1, 'table', 'document', 'document', 2, 'CREATE TABLE `document` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`name` text,
	`type` text NOT NULL,
	`content` text DEFAULT ''[]'',
	`document_date` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 2, 'table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 3, 'index', 'document_patient_id_idx', 'document', 4, 'CREATE INDEX `document_patient_id_idx` ON `document` (`patient_id`)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 5, 'table', 'name', 'name', 6, 'CREATE TABLE `name` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 6, 'table', 'appointments', 'appointments', 7, 'CREATE TABLE `appointments` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`date` text NOT NULL,
	`title` text NOT NULL,
	`notes` text,
	`status` text DEFAULT ''scheduled'' NOT NULL, time TEXT,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 9, 'table', 'auth', 'auth', 10, 'CREATE TABLE `auth` (
	`id` integer PRIMARY KEY NOT NULL,
	`password_hash` text NOT NULL
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 10, 'table', 'consultations', 'consultations', 11, 'CREATE TABLE `consultations` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`patient_id` integer NOT NULL,
	`date` text DEFAULT CURRENT_TIMESTAMP,
	`reason` text NOT NULL,
	`diagnosis` text NOT NULL,
	`notes` text,
	`symptoms` text,
	`blood_pressure` text,
	`glucose` text,
	`weight` text,
	`amount_paid` integer,
	`custom_fields` text DEFAULT ''{}'', appointment_id INTEGER, status TEXT DEFAULT ''in_progress'',
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 13, 'table', 'custom_fields', 'custom_fields', 14, 'CREATE TABLE `custom_fields` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`type` text NOT NULL,
	`label` text NOT NULL,
	`is_active` integer DEFAULT true
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 14, 'table', 'document_templates', 'document_templates', 15, 'CREATE TABLE `document_templates` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`type` text NOT NULL,
	`content` text NOT NULL,
	`is_default` integer DEFAULT false,
	`created_at` text DEFAULT CURRENT_TIMESTAMP,
	`updated_at` text DEFAULT CURRENT_TIMESTAMP
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 15, 'table', 'expenses', 'expenses', 16, 'CREATE TABLE `expenses` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`description` text NOT NULL,
	`amount` integer NOT NULL,
	`category` text NOT NULL,
	`date` text DEFAULT CURRENT_TIMESTAMP
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 17, 'table', 'image', 'image', 18, 'CREATE TABLE `image` (
	`image_path` text
)');
INSERT INTO lost_and_found VALUES(21, 21, 5, 18, 'table', 'lab_results', 'lab_results', 19, 'CREATE TABLE `lab_results` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`panel_id` text NOT NULL,
	`patient_id` integer NOT NULL,
	`panel_name` text NOT NULL,
	`test_name` text NOT NULL,
	`value` real NOT NULL,
	`unit` text,
	`reference_min` real,
	`reference_max` real,
	`status` text DEFAULT ''normal'' NOT NULL,
	`notes` text,
	`measured_at` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	`created_at` text DEFAULT CURRENT_TIMESTAMP NOT NULL,
	FOREIGN KEY (`patient_id`) REFERENCES `patients`(`id`) ON UPDATE no action ON DELETE cascade
)');
CREATE INDEX `document_patient_id_idx` ON `document` (`patient_id`);
CREATE INDEX `document_date_idx` ON `document` (`document_date`);
CREATE INDEX `appointment_patient_id_idx` ON `appointments` (`patient_id`);
CREATE INDEX `appointment_date_idx` ON `appointments` (`date`);
CREATE INDEX `consultation_patient_id_idx` ON `consultations` (`patient_id`);
CREATE INDEX `consultation_date_idx` ON `consultations` (`date`);
CREATE INDEX `expense_date_idx` ON `expenses` (`date`);
CREATE INDEX `patient_name_idx` ON `patients` (`first_name`,`last_name`);
CREATE INDEX `prescription_patient_id_idx` ON `prescriptions` (`patient_id`);
CREATE INDEX `prescription_date_idx` ON `prescriptions` (`prescription_date`);
PRAGMA writable_schema = off;
COMMIT;
